# Environment variables for the application

# PostgreSQL Configuration
PGHOST=''
PGDATABASE=''
PGUSER=''
PGPASSWORD=''
PGSSLMODE=''
PGCHANNELBINDING=''

# Application Configuration
NODE_ENV= # DEVELOPMENT / PRODUCTION
PORT=3000
JWT_SECRET= # Your JWT secret key
JWT_EXPIRATION=1h
CORS_ORIGIN= # Allowed CORS origin, e.g., http://localhost:3000
REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
